*{
    padding: 0;
    margin: 0;
}

/*背景圖*/
.bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -999;
}
.bg img {
    min-height: 100%;
    width: 100%;
}

/*CD圖*/
.cd{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh; /* 設置全螢幕高度 */
    overflow: hidden;
    padding: 0;
    margin: 0;
    position: relative;
    
}
.cd-img{
    max-width: 80%; /* 設置圖片最大寬度為螢幕的 90% */
    max-height: 80%; /* 設置圖片最大高度為螢幕的 90% */
    width: auto;
    height: auto;
    animation:5s rotate infinite linear; 
}
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to { 
      transform: rotate(360deg);
    }
}

.cd-bg{
    max-width: 100%; /* 設置圖片最大寬度為螢幕的 90% */
    max-height: 95%; /* 設置圖片最大高度為螢幕的 90% */
    width: auto;
    height: auto;
    position:absolute;
    
}

/*Now playing的字*/
.playing{
    position: absolute;
    bottom: 0; /* 將文字緊貼 CD 圖片的底部 */
    max-width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;

    font-family: "源石黑體月 H & 源石黑體丹 H & GenSekiGothic2 JP H & GenSekiGothic2 PJP H", monospace;
    font-size: 30px;
    font-weight:bolder;
}

/*暫停跟下一首按鈕*/
.controls{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 40vh; /* 設置全螢幕高度 */
    gap: 750px; /* Adjusts the spacing between the buttons */
}
.btn{
    background-color: transparent;
    width: 300px; /* 設置圖片最大寬度為螢幕的 90% */
    height: 300px; /* 設置圖片最大高度為螢幕的 90% */
    border: none;
    align-items: center;
    cursor: pointer; 
    background-size: cover;
}
.btn img{
    max-width: 100%; /* 設置圖片最大寬度為螢幕的 90% */
    max-height: 100%; /* 設置圖片最大高度為螢幕的 90% */
    max-width: auto;
    height: auto;         
}
