*{
    padding: 0;
    margin: 0;
}

/*背景圖*/
.bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -999;
}
.bg img {
    min-height: 100%;
    width: 100%;
}

/*CD圖*/
.cd{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh; /* 設置全螢幕高度 */
    overflow: hidden;
    padding: 0;
    margin: 0;
    position: relative;
    
}
.cd-img{
    max-width: 80%; /* 設置圖片最大寬度為螢幕的 90% */
    max-height: 80%; /* 設置圖片最大高度為螢幕的 90% */
    width: auto;
    height: auto;
    animation:5s rotate infinite linear; 
}
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to { 
      transform: rotate(360deg);
    }
}

.cd-bg{
    max-width: 100%; /* 設置圖片最大寬度為螢幕的 90% */
    max-height: 95%; /* 設置圖片最大高度為螢幕的 90% */
    width: auto;
    height: auto;
    position:absolute;
    
}

/*Now playing的字*/
.playing{
    position: absolute;
    bottom: 0; /* 將文字緊貼 CD 圖片的底部 */
    max-width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;

    font-family: "源石黑體月 H & 源石黑體丹 H & GenSekiGothic2 JP H & GenSekiGothic2 PJP H", monospace;
    font-size: 30px;
    font-weight:bolder;
}

/*暫停跟下一首按鈕*/
.controls{
    position: absolute;
    display: flex;    
}
.btn{
    margin: 400px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 50px;
    cursor: pointer;/*滑鼠指到這個東東游標就會變手指*/
    
    font-family: "Mantou Sans Regular", monospace;
    font-size: 40px;
}
.btn:hover{
    color:  #FF0001;
}